@{
    ViewBag.Title = "Account Administration";
}

<div class="container" id="user-admin-app"></div>


<script src="~/Content/javascripts/vendor/ember/handlebars-1.1.2.js"></script>
<script src="~/Content/javascripts/vendor/ember/ember-1.4.0.js"></script>
