@{
    ViewBag.Title = "Home Page";
}

            <div class="jumbotron">
                <h1>Your Aura, Stimulated</h1>
                <p class="lead">A festival of glittery power, surrounding you...</p>

            </div>

            <div class="row">

            </div>
        </div>
    </div>
</div>
