<h1>User Administration</h1>
<hr />
<p>
    Select what you want to do from below...
</p>
<ul id="home-list"> 
    <li>{{#link-to 'users' id='user-link'}}User List{{/link-to}}</li>
    <li><a href="#">Roles</a></li>
    <li><a href="#">Logs</a></li>
</ul>